li.selection {
    margin-bottom: 35px;
}

li.selection h2 {
    margin: 0 0 3px;
}

li.selection h2 a {
    color: cornflowerblue;
    text-decoration: none;
}

li.selection h2 a:hover {
    text-decoration: underline;
}

li.selection div {
    display: flex;
    align-items: center;
    cursor: pointer;
}
