li.selection {
    margin-bottom: 35px;
}

li.selection h2 {
    margin: 0 0 3px;
    display: flex;
    align-items: flex-end;
}

li.selection h2 a {
    color: cornflowerblue;
    text-decoration: none;
}

li.selection h2 a:hover {
    text-decoration: underline;
}

li.selection h2 a.sub-link {
    visibility: hidden;
    margin-left: 15px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

li.selection h2:hover a.sub-link {
    visibility: visible;
}

li.selection h2 a.sub-link:hover {
    color: #4570bd;
}

li.selection h2 a.sub-link i {
    font-size: 1.2rem;
}

li.selection div {
    display: flex;
    align-items: flex-start;
    width: 850px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}

li.selection div i {
    transition: transform 0.2s;
}

li.selection div span {
    margin-top: 5px;
}

li.selection.open div {
    border-color: lightgray;
}

li.selection.open div i {
    transform: rotate(90deg);
}
