header {
    padding: 25px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 25px;
}

header div {
    display: flex;
    align-items: flex-end;
}

header div input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 1.4rem;
    margin-right: 15px;
    width: 400px;
}

header div button {
    font-size: 0.8rem;
    border: none;
    padding: 10px 15px;
    width: 80px;
    cursor: pointer;
    border-radius: 5px;
}

header div button:hover,
header div button:focus {
    background-color: #e4f4f9;
}

header span {
    font-size: 0.7rem;
    color: #5a5a5a;
    font-style: italic;
    margin-left: 5px;
}